.authContainer {
  max-width: 400px;
  margin: 50px auto;
  border: 1px solid var(--ifm-toc-border-color);
  border-radius: var(--ifm-border-radius);
  box-shadow: var(--ifm-shadow-md);
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
}

.authContainer .card__header h3 {
  text-align: center;
  margin-bottom: 0;
  color: var(--ifm-color-primary);
}

.authContainer form div {
  margin-bottom: 1rem;
}

.authContainer .form__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.authContainer .form__input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--ifm-toc-border-color);
  border-radius: var(--ifm-border-radius);
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
}

.authButton {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
}

.message {
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: var(--ifm-border-radius);
  background-color: var(--ifm-color-info-light);
  color: var(--ifm-color-info-dark);
  text-align: center;
}

.toggleLink {
  color: var(--ifm-color-primary);
  cursor: pointer;
  text-decoration: underline;
}

.toggleLink:hover {
  color: var(--ifm-color-primary-dark);
}